.canvas{
  border: 1px solid black;
  margin-top: 20px;
  overflow: hidden; 
}

.poppins-light {
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  font-style: normal;
}

.poppins-regular {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.poppins-bold {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-style: normal;
}

section{
  padding-left: 110px;
}

h2{
  font-size: 22px;
}

label{
  font-size: 16px;
}

.canvas-box{
  display: inline-block;
  align-items: center;
  border: 1px solid black;
  border-radius: 20px;
  background-color: #f8f8f8;
  padding: 29px;
}

.line-width{
  color: black;
}


input[type="range"] {
  -webkit-appearance: none;
  appearance: none;
  width: 40%;
  height: 0.5rem;
  background: linear-gradient(to right, black 0%, black 50%, #ccc 50%, #ccc 100%);
  border-radius: 3px;
  outline: none;
}

/*chrome, edge, opera, safari*/
input[type="range"]::-webkit-slider-runnable-track {
  background: transparent;
  height: 0.5rem;
  border-radius: 3px;
}

input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  height: 20px;
  width: 20px;
  background: black;
  border-radius: 50%;
  margin-top: -7px;
  cursor: pointer;
}

/*firefox*/
input[type="range"]::-moz-range-track {
  background: #ccc;
  height: 0.5rem;
  border-radius: 3px;
}

input[type="range"]::-moz-range-progress {
  height: 0.5rem;
  background: black;
  border-radius: 3px;
}

input[type="range"]::-moz-range-thumb {
  height: 20px;
  width: 20px;
  background: black;
  border-radius: 50%;
  cursor: pointer;
}

.eraser{
  all: unset;
  cursor: pointer;
  display: inline-block;
}

.eraser.active{
  box-shadow: 0 6px 15px rgba(0, 0, 0, 0.2);
}

#clearCanvasBtn{
  background-color: #B81434;
  color: #ffffff;
  border: none;
  border-radius: 10px;
  padding: 6px 11px;
  cursor: pointer;
}

#nextBlock{
  background-color: #666666;
  color: #ffffff;
  font-size: 22px;
  border: none;
  border-radius: 15px;
  box-shadow: 0 6px 15px rgba(0, 0, 0, 0.2);
  padding: 14px 47px 14px 47px;
  margin: auto 48px 30px 1112px;
  cursor: pointer;
}